.mediaSliderPanel {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div.panelHolder{
    width: 85.5%;
    margin-bottom: 30px;
  }
}