body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'CircularStdBold';
}

#app {
    width: 100%;
}

%default-gradient {
    background: rgba(253, 171, 84, 1);
    background: -moz-linear-gradient(-45deg, rgba(253, 171, 84, 1) 0%, rgba(255, 82, 54, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(253, 171, 84, 1)), color-stop(100%, rgba(255, 82, 54, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(253, 171, 84, 1) 0%, rgba(255, 82, 54, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(253, 171, 84, 1) 0%, rgba(255, 82, 54, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(253, 171, 84, 1) 0%, rgba(255, 82, 54, 1) 100%);
    background: linear-gradient(135deg, rgba(253, 171, 84, 1) 0%, rgba(255, 82, 54, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdab54', endColorstr='#ff5236', GradientType=1);
}

.main-screen-content {
    padding-top: 188px;
    &.home {
        padding-top: 0;
    }
    &.home .main-header {
        position: relative;
    }
}

.screen-content {
    min-height: 100vh;
}

.appLoading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 99999;
    visibility: visible;
    .iconLoading {

    }
}