// $forgetMeNot: #fff1ef;
// $persimmon: #ff6a49;
$yellowOrange: #ffad49;
// $burntSienna #f2684e;
// $coral: #ff8e49;
// $coral2: #FF7C47;
$emerald: #5AD344;
$silverChalice: #acabab;

$orange0: #ff6847;
$orange1: #ff8747;
$orange2: #ff5236;
$orange3: #ff6c47;
$orange4: #ff7547;
$orange5: #ff7b47;
$orange6: #ff7447;
$orange7: #f2664c;
$orange8: #ff5035;
$orange9: #ff6748;
$orange_10: #ff8b48;

$yellow1: #fdab54;

$pink1: #ffc0b3;
$pink2: #fff1ef;

//red
$red1: #e8523e;
$red2: #ff3b30;
$red3: #fd6262;
$red4: #ff4427;
.red1 {
  color: $red1;
}
.red2,
.color-red {
  color: $red2;
}

$white: #ffffff;

//gray color
$gray1: #525252;
$gray2: #999999;
$gray3: #e6e6e6;
$gray4: #f0f0f0;
$gray5: #f9f9f9;
$gray6: #afaeaf;

$white: #ffffff;
.gray1,
.color-gray {
  color: $gray1;
}
.gray2 {
  color: $gray2;
}
.gray3 {
  color: $gray3;
}
.gray4 {
  color: $gray4;
}
.gray5 {
  color: $gray5;
}
.white {
  color: $white;
}

//cyan
$blue: #2d3fad;
$blue1: #2d3ea8;
$blue2: #374bcc;
$blue3: #3c52dc;
$blue4: #e6e9ff;
$facebook: #3b5998;

.color-blue {
  color: $blue;
}
.blue1 {
  color: $blue1;
}
.blue2 {
  color: $blue2;
}
.blue3 {
  color: $blue3;
}
.blue4 {
  color: $blue4;
}