.dubtitleWorkspace {
  .modal-title {
    display: none;
  }
}

.dubtitleWorkspace {
  .video-react .video-react-slider {
    background-color: #fff;
  }
  .video-react .video-react-load-progress {
    background: #ef513e;
  }
}