.main-footer {
    padding: 50px;
    display: block;
}

.main-footer nav {
    padding: 15px 0;
}

.main-footer nav .navigation {
    @include clearul();
    text-align: center;
    >li {
        display: inline-block;
    }
    >li>a {
        padding: 0;
    }
    >li>a {
        @extend %CircularStdBookItalic;
        display: block;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        position: relative;
        font-size: 20px;
    }
    >li:not(:last-child)>a:after {
        padding: 0 10px;
        content: '|';
        font-family: monospace;
    }
}

.main-footer .copy-right-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    p.copy-right {
        @extend %CircularStdBookItalic;
        color: $white;
        font-size: 20px;
    }
    .social-media {
        top: 50%;
        right: 0;
        margin-top: -16px;
        position: absolute;
    }
    .social-media img {
        width: 28px;
        height: 28px;
        opacity: 0.8;
    }
    .navigation {
        @include clearul();
    }
    .navigation>li>a {
        padding: 0;
    }
}

.main-footer .copy-right-wrapper .navigation {
    @include clearul();
    >li {
        display: inline-block;
    }
    >li>a {
        padding: 0;
    }
}