.app-logo-wrapper {
  position: absolute;
  right: 30px;
  top: 30px;
  @include translateX(150%);
  @include transition(0.3s);
}

.page-title-container {
  padding: 10px 0px;
  background-color: $white;
}