.page-myProfile {
  @extend %default-gradient;
}

.page-myProfile .profile-panel {
  padding: 30px;
  margin-bottom: 60px;
}

.page-myProfile .profile-panel > .title {
  margin-bottom: 30px;
  font-size: 36px;
  color: $white;
  .greeting {
    @extend %CircularStdBlack;
  }
  .name {
    @extend %CircularStdBoldItalic;
  }
}

.page-myProfile .profile-panel .panel {
  display: flex;
  align-items: center;
  .profile-image-cropper {
    width: 170px;
    height: 170px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  .profile-image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}

.page-myProfile .profile-panel .panel .summary {
  margin-left: 50px;
  .item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.page-myProfile .profile-panel .panel .summary .item {
  h4 {
    color: $white;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    min-width: 150px;
    text-align: right;
    @extend %CircularStdBold;
  }
  .semicolon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
  }
  .text-in-circle {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    font-size: 22px;
    color: $orange_10;
    line-height: 40px;
    text-align: center;
    background: $white;
  }
}

#profilePopcorn {
  max-width: 200px;
  width: 100%;
  height: auto;
  position: absolute;
  right: 150px;
  top: -200px;
}