@font-face {
  font-family: 'CircularStdMediumItalic';
  src: url('../fonts/CircularStdMediumItalic.eot');
  src: url('../fonts/CircularStdMediumItalic.eot') format('embedded-opentype'),
       url('../fonts/CircularStdMediumItalic.woff2') format('woff2'),
       url('../fonts/CircularStdMediumItalic.woff') format('woff'),
       url('../fonts/CircularStdMediumItalic.ttf') format('truetype'),
       url('../fonts/CircularStdMediumItalic.svg#CircularStdMediumItalic') format('svg');
}

@font-face {
  font-family: 'CircularStdMedium';
  src: url('../fonts/CircularStdMedium.eot');
  src: url('../fonts/CircularStdMedium.eot') format('embedded-opentype'),
       url('../fonts/CircularStdMedium.woff2') format('woff2'),
       url('../fonts/CircularStdMedium.woff') format('woff'),
       url('../fonts/CircularStdMedium.ttf') format('truetype'),
       url('../fonts/CircularStdMedium.svg#CircularStdMedium') format('svg');
}

@font-face {
  font-family: 'CircularStdBookItalic';
  src: url('../fonts/CircularStdBookItalic.eot');
  src: url('../fonts/CircularStdBookItalic.eot') format('embedded-opentype'),
       url('../fonts/CircularStdBookItalic.woff2') format('woff2'),
       url('../fonts/CircularStdBookItalic.woff') format('woff'),
       url('../fonts/CircularStdBookItalic.ttf') format('truetype'),
       url('../fonts/CircularStdBookItalic.svg#CircularStdBookItalic') format('svg');
}

@font-face {
  font-family: 'CircularStdBoldItalic';
  src: url('../fonts/CircularStdBoldItalic.eot');
  src: url('../fonts/CircularStdBoldItalic.eot') format('embedded-opentype'),
       url('../fonts/CircularStdBoldItalic.woff2') format('woff2'),
       url('../fonts/CircularStdBoldItalic.woff') format('woff'),
       url('../fonts/CircularStdBoldItalic.ttf') format('truetype'),
       url('../fonts/CircularStdBoldItalic.svg#CircularStdBoldItalic') format('svg');
}

@font-face {
  font-family: 'CircularStdBold';
  src: url('../fonts/CircularStdBold.eot');
  src: url('../fonts/CircularStdBold.eot') format('embedded-opentype'),
       url('../fonts/CircularStdBold.woff2') format('woff2'),
       url('../fonts/CircularStdBold.woff') format('woff'),
       url('../fonts/CircularStdBold.ttf') format('truetype'),
       url('../fonts/CircularStdBold.svg#CircularStdBold') format('svg');
}

@font-face {
  font-family: 'CircularStdBlack';
  src: url('../fonts/CircularStdBlack.eot');
  src: url('../fonts/CircularStdBlack.eot') format('embedded-opentype'),
       url('../fonts/CircularStdBlack.woff2') format('woff2'),
       url('../fonts/CircularStdBlack.woff') format('woff'),
       url('../fonts/CircularStdBlack.ttf') format('truetype'),
       url('../fonts/CircularStdBlack.svg#CircularStdBlack') format('svg');
}


@font-face {
  font-family: 'CircularStdBlackItalic';
  src: url('../fonts/CircularStdBlackItalic.eot');
  src: url('../fonts/CircularStdBlackItalic.eot') format('embedded-opentype'),
       url('../fonts/CircularStdBlackItalic.woff2') format('woff2'),
       url('../fonts/CircularStdBlackItalic.woff') format('woff'),
       url('../fonts/CircularStdBlackItalic.ttf') format('truetype'),
       url('../fonts/CircularStdBlackItalic.svg#CircularStdBlackItalic') format('svg');
}

@font-face {
  font-family: 'SukhumvitSetBold';
  src: url('../fonts/SukhumvitSetBold.eot');
  src: url('../fonts/SukhumvitSetBold.eot') format('embedded-opentype'),
    url('../fonts/SukhumvitSetBold.woff2') format('woff2'),
    url('../fonts/SukhumvitSetBold.woff') format('woff'),
    url('../fonts/SukhumvitSetBold.ttf') format('truetype'),
    url('../fonts/SukhumvitSetBold.svg#SukhumvitSetBold') format('svg');
}

@font-face {
  font-family: 'SukhumvitSetSemiBold';
  src: url('../fonts/SukhumvitSetSemiBold.eot');
  src: url('../fonts/SukhumvitSetSemiBold.eot') format('embedded-opentype'),
    url('../fonts/SukhumvitSetSemiBold.woff2') format('woff2'),
    url('../fonts/SukhumvitSetSemiBold.woff') format('woff'),
    url('../fonts/SukhumvitSetSemiBold.ttf') format('truetype'),
    url('../fonts/SukhumvitSetSemiBold.svg#SukhumvitSetSemiBold') format('svg');
}

@font-face {
  font-family: 'SukhumvitSetMedium';
  src: url('../fonts/SukhumvitSetMedium.eot');
  src: url('../fonts/SukhumvitSetMedium.eot') format('embedded-opentype'),
    url('../fonts/SukhumvitSetMedium.woff2') format('woff2'),
    url('../fonts/SukhumvitSetMedium.woff') format('woff'),
    url('../fonts/SukhumvitSetMedium.ttf') format('truetype'),
    url('../fonts/SukhumvitSetMedium.svg#SukhumvitSetMedium') format('svg');
}

@font-face {
  font-family: 'SukhumvitSetText';
  src: url('../fonts/SukhumvitSetText.eot');
  src: url('../fonts/SukhumvitSetText.eot') format('embedded-opentype'),
    url('../fonts/SukhumvitSetText.woff2') format('woff2'),
    url('../fonts/SukhumvitSetText.woff') format('woff'),
    url('../fonts/SukhumvitSetText.ttf') format('truetype'),
    url('../fonts/SukhumvitSetText.svg#SukhumvitSetText') format('svg');
}

@font-face {
  font-family: 'SukhumvitSetThin';
  src: url('../fonts/SukhumvitSetThin.eot');
  src: url('../fonts/SukhumvitSetThin.eot') format('embedded-opentype'),
    url('../fonts/SukhumvitSetThin.woff2') format('woff2'),
    url('../fonts/SukhumvitSetThin.woff') format('woff'),
    url('../fonts/SukhumvitSetThin.ttf') format('truetype'),
    url('../fonts/SukhumvitSetThin.svg#SukhumvitSetThin') format('svg');
}

@font-face {
  font-family: 'SukhumvitSetLight';
  src: url('../fonts/SukhumvitSetLight.eot');
  src: url('../fonts/SukhumvitSetLight.eot') format('embedded-opentype'),
    url('../fonts/SukhumvitSetLight.woff2') format('woff2'),
    url('../fonts/SukhumvitSetLight.woff') format('woff'),
    url('../fonts/SukhumvitSetLight.ttf') format('truetype'),
    url('../fonts/SukhumvitSetLight.svg#SukhumvitSetLight') format('svg');
}

